@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

nav.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    color: #fff;
    z-index: 999;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .max-width  ul li {
    list-style: none;
    display: inline-block;
}


.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}




nav.navbar .logo a span {
    color: crimson;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


ul.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

ul.menu li {
    margin-right: 13px;
    text-transform: capitalize;
}

ul.menu li a {
    display: block;
    font-size: 18px;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

ul.menu li a:hover {
    transition: color .3s linear;
    color: crimson;
}

.home {
    display: flex;
    background: url(images/bannerx.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: ubuntu,sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home img {
    position: absolute;
    width: 830px;
    top: 0;
    right: 0;
    opacity: .1;
}

.about {
    background-color: rgb(25, 164, 206);
    width: 100%;
    height: 100vh;
}

.services {
    background-color: rgb(193, 196, 38);
    width: 100%;
    height: 100vh;
}

.skills {
    background-color: rgb(196, 38, 130);
    width: 100%;
    height: 100vh;
}

.teams {
    background-color: rgb(196, 38, 38);
    width: 100%;
    height: 100vh;
}

.contact {
    background-color: rgb(236, 115, 16);
    width: 100%;
    height: 100vh;
}

.t1 {
    font-size: 27px;
}

.t2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.t3 {
    font-size: 40px;
}

.home .home-content a {
    display: inline-block;
    color: #fff;
    background-color: crimson;
    padding: 12px 35px;
    border: solid 1px crimson;
    border-radius: 3px;
}



/*

    https://codingnepalweb.com/demos/responsive-portfolio-website/


*/